<div {{bind-attr class="visible:animated:hidden"}} >
{{#if isLoading}} I'm loading... {{else}} show model {{/if}}<br />
{{fullName}} {{id}}<br />
{{headline}}<br />
{{placement}}<br />
{{visible}}
<img {{bind-attr src="avatarUrl"}} />
</div>
